* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    width: 30em;
    height: 17em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.title {
    font-size: 1rem;
    padding: 1 rem 0;
}

input {
    width: 20em;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 16em;
}

.submit:hover {
       background-position: right center;
       color: #fff;
       text-decoration: none;
     }